html {
	font-family: Righteous;
}

section {
	height: 30vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
    font-size: 96px;
    transition: color .2s
}

main {
	height: 40vh;
	display: flex;
	justify-content: center;
    align-items: center;
    z-index: -1;
}

button {
	font-size: 36px;
	font-family: Righteous;
	color: rgba(200, 0, 0, 1);
	border: 5px solid;
	border-radius: 20px;
	background: black;
    padding: 10px;
    transition: color, border, .5s;
    position: absolute;
}

.start {
    display: block;
    z-index: 1;
}

.player {
    height: 20vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 56px;
}

footer {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
}

a {
	color: black;
	text-decoration: none;
	border: 1px solid black;
	padding: 5px;
}

.pulse {
    color: #daa520;
    transition: color .2s;
}

.playerCue {
	color: #daa520;
    font-size: 100px;
    --animate-duration: .7s;
}

.hide {
    display: none;
}

.animate__fadeOut {
    animation-delay: .2s
}

.animate__fadeIn {
    animation-delay: .8s;
}
