body {
    /* display: flex; */
    background: black;
    margin: 0;
}
   
div {
    height: 25vh;
    width: 25vw;
    z-index: -1;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Righteous;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    font-size: 72px;
    color: purple;
}

a {
    border: 5px solid goldenrod;
    border-radius: 40px;
    padding: 20px;
    text-decoration: none;
    font-size: 24px;
    color: black;
    background: rebeccapurple;
    margin-bottom: 50px;
}
