body {
    /* display: flex; */
    background: black;
    margin: 0; 
}

.bg {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: -1;
}
   
div {
    height: 25vh;
    width: 25vw;
    
}

.one {
    background-color: lime;
}

.two {
    background-color: cyan;
}

.three {
    background-color: palevioletred
}

.four {
    background-color: orange;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Righteous;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    font-size: 72px;
    color: purple;
    text-decoration: underline;
}

a {
    border: 5px solid black;
    border-radius: 40px;
    padding: 20px;
    text-decoration: none;
    font-size: 24px;
    color: black;
    background: rebeccapurple;
    margin-bottom: 50px;
}
