body {
    /* display: flex; */
    background: black;
    margin: 0; 
}

.bg {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: -1;
}
   
div {
    height: 25vh;
    width: 25vw;
    
}

@keyframes background1 {
    0% {background-color: lime;}
    25% {background-color: royalblue;}
    50% {background-color: palevioletred;}
    75% {background-color: orange;}
    100% {background-color: lime;}
}

@keyframes background2 {
    0% {background-color: royalblue;}
    25% {background-color: palevioletred;}
    50% {background-color: orange;}
    75% {background-color: lime;}
    100% {background-color: royalblue;}
}

@keyframes background3 {
     0% {background-color: palevioletred;}
    25% {background-color: orange;}
    50% {background-color: lime;}
    75% {background-color: royalblue;}
    100% {background-color: palevioletred;}
}

@keyframes background4 {
     0% {background-color: orange;}
    25% {background-color: lime;}
    50% {background-color: royalblue;}
    75% {background-color: palevioletred;}
    100% {background-color: orange;}
}

.one {
    background-color: lime;
    animation-name: background1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.two {
    background-color: royalblue;
    animation-name: background2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.three {
    background-color: palevioletred;
    animation-name: background3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.four {
    background-color: orange;
    animation-name: background4;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Righteous;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    font-size: 64px;
    color: purple;
    text-decoration: underline;
}

a {
    border: 5px solid black;
    border-radius: 40px;
    padding: 20px;
    text-decoration: none;
    font-size: 24px;
    color: black;
    background: rebeccapurple;
    margin-bottom: 50px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 45vh;
}

p {
    z-index: -2;
    border: 5px solid black;
    border-radius: 40px;
    padding: 20px;
    background: rebeccapurple;
    position: absolute;
    justify-content: center;
    align-items: center;
}

#close {
    border: none;
    border-radius: 40px;
    padding: 20px;
    text-decoration: none;
    font-size: 24px;
    color: black;
    background: none;
    margin: 0 auto;
}