section {

z-axis: -1;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Righteous;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-size: 72px;
}

a {
    border: 5px solid black;
    border-radius: 40px;
    padding: 20px;
    text-decoration: none;
    font-size: 24px;
    color: black;
    background: rebeccapurple;
}
